### Q1

In [3]:
import pandas as pd
q1 = pd.read_csv('Cutlets.csv')
q1.head(2)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093

In [6]:
unit_a=pd.Series(q1.iloc[:,0])
unit_b=pd.Series(q1.iloc[:,1])

In [9]:
# H0 : There is no difference between diameter of both samples
# Ha : There is a difference between diameter of both samples
# Significance level = 5%
#if p<5 then we reject null hypothesis
# We are using independent t-test as the samples are from two independent populations.

from scipy import stats
p_value=stats.ttest_ind(unit_a,unit_b)[1]
p_value

0.4722394724599501

In [10]:
# p_value is less than 5% therefore we reject null hypothesis.
#hence,there exists a difference between the diameters of cutlets from both units

### Q2

In [12]:
q2 = pd.read_csv('LabTAT.csv')
q2.head(5)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [13]:
#We will be using ANNOVA test for this approach because we have to compare the mean of four different dimensions.
# H0 : There is no difference between avg TAT among 4 laboratories.
# Ha : There lies a difference between avg TAT between laboratories.
# Significance level = 5%
#if p<5 then we reject null hypothesis

In [15]:
p_annova = stats.f_oneway(q2.iloc[:,0],q2.iloc[:,1],q2.iloc[:,2],q2.iloc[:,3])
p_annova[1]*100

2.1156708949992415e-55

In [ ]:
# p_value is less than 5% therefore we reject null hypothesis.
# There is a difference between avg TAT among 4 laboratories.

### Q3

In [17]:
q3 = pd.read_csv('BuyerRatio.csv')
q3.head(5)

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [20]:
male = [50,142,131,70]
female = [435,1523,1356,750]

In [21]:
sales = [male,female]
sales

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [25]:
# The data in question and csv file is different.Moving forward with csv data.
# H0 : All ratios are equal
# Ha : Not all ratios are equal
# we will be using chi2 contingency test for this problem.
# Assuming significance value as 5%

chistat = stats.chi2_contingency(sales)
chistat[1]*100

66.03094907091882

In [ ]:
# The p_value for chi2 test is 66% which is greater than the significance value.
# So we accept the null hypothesis
# Hence, all the proportions are equal.

### Q4

In [26]:
q4 = pd.read_csv('Costomer+OrderForm.csv')
q4.head(5)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [28]:
q4.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [29]:
q4.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [30]:
q4.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [31]:
q4.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [32]:
# Building a contingency table
error_free = [271,267,269,280]
defective = [29,33,31,20]
forms = [error_free,defective]
forms

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [36]:
# We are using chi2_contingency test for this problem
# H0 : Defective percentage is similar across centres
# Ha : Defective percentage varies across centres
# significance value = 5%
# If p value less than significance value then we reject null hypothesis.
chistat = stats.chi2_contingency(forms)
chistat[1]*100

27.71020991233135

In [ ]:
# the p value is more than the significance level 
# hence we accept the null hypothesis ie. Defective percentage is similar across centres.